body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing:border-box;
    
    margin: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:50%;
    text-align: center; 

}

.container{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 30px;
    border: 1px dotted #00487C;
    box-shadow: 0 4px 15px #00487C;
    min-height: 50%;
    max-width:50%;

}

#customer{
    color:#2F243A;
    font-size: 120%;
    
    
}
label{
    display: flex;
  flex-direction: column;
}
label:hover{
    color:black;
}

input{
    
    margin-bottom:30px;
    display: flex;
    align-self: center; 
    text-align: center;
    width:50%;
}

#space{
    color:rgb(72, 72, 72);
    font-size:20px;
    box-sizing:border-box;
    text-align: center;
    padding: 10px;
}
button{
    font-family:Courier ;
    background-color:#027BCE;
    border-radius: 9px;
    font-weight: 900;
    width: 10em;
    color:white;
    border: none;
    margin: 20px;
    padding: 10px;
    
}

button:hover {
    background-color: #00487C;
}
#buttonsAll{
   font-size:60px;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  
  
}

#error{
    justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(119, 26, 26)
}
