body{
    box-sizing:border-box;
    padding: 100px;
    margin: 30px;
}

#customer{
    color:rgb(72, 72, 72);
    font-size:20px;
    box-sizing:border-box;
    text-align: center;
}
label{
    max-width:10px;
}
label:hover{
    color:black;
}

#space{
    color:rgb(72, 72, 72);
    font-size:20px;
    box-sizing:border-box;
    text-align: center;
    min-width:30em;
    padding: 10px;
}

#buttonsAll{
   font-size:60px;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  
}

#error{
    justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(119, 26, 26)
}
